<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Change Password</div>
        <div class="panel-body">
            <form action="~/Account/ChangePassword" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form><br />
            @if (TempData.ContainsKey("Password Change"))
            {
                <span>@TempData["Password Change"]</span>
            }
        </div>
    </div>
</div>