################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/.vs/Application/v16/.suo
/Application/Application.Data/obj
/Application/Application.Domain/obj
/Application/Application.Services/obj
/Application/Application.UnitTests/obj
/Application/Application.Web/obj
/Application/Application.Web/bin/Debug/netcoreapp3.1
/Application/.vs/Application/config
/Application/Application.Data/bin/Debug/netcoreapp3.1
/Application/Application.Domain/bin/Debug/netcoreapp3.1
/Application/Application.Services/bin/Debug/netcoreapp3.1
/Application/Application.UnitTests/bin/Debug/netcoreapp3.1
