@model Application.Domain.ApplicationEntities.User
@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}

<br />
<br />
<br />
<br />
<br />
<br />

<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="@Url.Content("~/js/Custom/React/Global/Notification.js")"></script>
<script type="module" src="@Url.Content("~/js/Custom/React/Components/Global/Navigation.jsx")"></script>
<script type="module" src="@Url.Content("~/js/Custom/React/Renderings/App.jsx")"></script>

@Html.AntiForgeryToken()
<div id="navigation"></div>
<div id="content"></div>