@model Application.Web.ViewModels.SelectionViewModel
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Start Thread</div>
        <div class="panel-body">
            <form action="~/Forum/CreateThread" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="fullname">Heading:</label>
                    <input type="text" class="form-control" id="heading" name="heading">
                </div>
                <div class="form-group">
                    <label for="fullname">Body:</label>
                    <input type="text" class="form-control" id="body" name="body">
                </div>
                <div class="form-group">
                    <label for="topic" name="topic">Topic:</label>

                </div>
                <div class="form-group">
                    
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>