<!DOCTYPE html>
<html>
<head>
    <title>SonyaSite</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/signalr.js"></script>
    <script src="~/js/Custom/fileUploadPreview.js"></script>
    <script src="https://cdn.tiny.cloud/1/6wfgkecgrlkejw7hr5xryr9d1d0xp8ez8mtr0n1q9vhga2wl/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navigation"></div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>